<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>localization.locale</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.etc.samodumkina.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>by.etc.samodumkina.controller.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>characterEncoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/Controller</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CatalogPageFilter</display-name>
    <filter-name>CatalogPageFilter</filter-name>
    <filter-class>by.etc.samodumkina.controller.filter.CatalogPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CatalogPageFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/main.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>LocaleFilter</display-name>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>by.etc.samodumkina.controller.filter.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LikedBookPageFilter</display-name>
    <filter-name>LikedBookPageFilter</filter-name>
    <filter-class>by.etc.samodumkina.controller.filter.LikedBookPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LikedBookPageFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/likedbooks.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>